In [1]:
l=["apple"]

nested for loop

In [1]:
for i in range(1,3):
    print(i)
    for j in ["a","b"]:
        print(j)
        for k in range(1,4):
            print(k)

1
a
1
2
3
b
1
2
3
2
a
1
2
3
b
1
2
3

In [9]:
for i in range(10,0,-1):
    print(2*i)
for j in range(10,0,-1):
    print(3*j)
for k in range(10,0,-1):
    print(4*k)
for l in range(10,0,-1):
    print(5*l)

20
18
16
14
12
10
8
6
4
2
30
27
24
21
18
15
12
9
6
3
40
36
32
28
24
20
16
12
8
4
50
45
40
35
30
25
20
15
10
5

In [8]:
for i in range(2,9):
    print("table of ",i)
    for j in range(1,11):
        print(i*j)

table of  2
2
4
6
8
10
12
14
16
18
20
table of  3
3
6
9
12
15
18
21
24
27
30
table of  4
4
8
12
16
20
24
28
32
36
40
table of  5
5
10
15
20
25
30
35
40
45
50
table of  6
6
12
18
24
30
36
42
48
54
60
table of  7
7
14
21
28
35
42
49
56
63
70
table of  8
8
16
24
32
40
48
56
64
72
80

In [26]:
l=[["python"],["is"],["fun"]]
for i in l:
    for j in i:
        print(j,end = " ")

python is fun

In [30]:
for i in range(1,21):
    for j in range(1,i+1):
        if i%j==0:

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [2]:
for i in range(1,20):
    c=0
    for j in range(1,20):
        if i%j==0:
            c=c+1
    if c>2:
        print("composite no.",i)
    else:
        print("prime no.",i)

prime no. 1
prime no. 2
prime no. 3
composite no. 4
prime no. 5
composite no. 6
prime no. 7
composite no. 8
composite no. 9
composite no. 10
prime no. 11
composite no. 12
prime no. 13
composite no. 14
composite no. 15
composite no. 16
prime no. 17
composite no. 18
prime no. 19

In [20]:
for i in range(1,20):
    c=0
    for j in range(1,i+1):
        if i%j==0:
            c=c+1
    if c>2:
        print("composite",i)
    else:
         print("prime",i)

prime 1
prime 2
prime 3
composite 4
prime 5
composite 6
prime 7
composite 8
composite 9
composite 10
prime 11
composite 12
prime 13
composite 14
composite 15
composite 16
prime 17
composite 18
prime 19

In [16]:
for i in range(1,21):
    c=0
    for j in range(1,i+1):
        if i%j==0:
            c=c+1
    if c>2:
        print("composite",i)
    else:
        print("prime",i)

prime 1
prime 2
prime 3
composite 4
prime 5
composite 6
prime 7
composite 8
composite 9
composite 10
prime 11
composite 12
prime 13
composite 14
composite 15
composite 16
prime 17
composite 18
prime 19
composite 20

In [39]:
a=2
for i in range(1,11):
    print(a,"X",i,"=",a*i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20