BREAK CONTINUE AND PASS.

In [9]:
for i in "madrid":
    if i=="r":
        break
        print("gg")
    else:
        print(i,end="")

mad

In [2]:
for i in "madrid":
    if i=="r":
        continue
    print(i)

m
a
d
i
d

In [11]:
for i in "madrid":
    if i=="r":
        pass
    else:
        print(i,end="")

madid

WAP TO PRINT CUBE

In [3]:
i=1
while i<=10:
    if i==3 or i==8:
        i+=1
        continue
    else:
        print(i**3)
        i+=1

1
8
64
125
216
343
729
1000

WAP TO PRINT "SPIDERMAN"

In [34]:
for i in "spiderman superman":
    if i==" ":
        continue
    else:
        print(i,end="")

spidermansuperman

INFINITE WHILE LOOP

In [3]:
while True:
    l=[10,11,13,44,15,10]
    for i in l:
        if i**3>8000:
            continue
        else:
            print(i**3)
    break

1000
1331
2197
3375
1000

In [49]:
c=0
while True:
    a=input("enter username:=")
    b=input("enter password:=")
    if a=="neeraj" and b=="madrid" or a=="negi" and b=="laptop":
        print("correct")
        break
    else:
        print("try again")
        c=c+1
    if c==3:
        print("blocked cant access")
        break

enter username:=neeraj
enter password:=sd
try again
enter username:=esersr
enter password:=dr
try again
enter username:=rs
enter password:=rs
try again
blocked cant access

In [1]:
for i in range(100,401):
    i=str(i)
    c=0
    for j in i:
        j=int(j)
        if j%2==0:
            c=c+1
        if c==3:
            print(i)

200
202
204
206
208
220
222
224
226
228
240
242
244
246
248
260
262
264
266
268
280
282
284
286
288
400

In [9]:
for i in "madrid":
    if i=="r":
        break
    print(i,end="")

mad

In [34]:
i=1
while i<11:
    if i==3 or i==8:
        i+=1
        continue
    else:
        print(i**3)
        i=i+1

1
8
64
125
216
343
729
1000

In [59]:
i=1
while i<11:
    if i==3 or i==7:
        i=i+1
        continue
    print(i**3)
    i=i+1

1
8
64
125
216
512
729
1000

In [31]:
for i in range(1,11):
    if i==3 or i==7:
        continue
    print(i**3)

1
8
64
125
216
512
729
1000

In [51]:
for i in "spiderman superman":
    if i==" ":
        continue
    print(i,end="")

spidermansuperman

1
8
64
125
216
512
729
1000

In [70]:
while True:
    l=[11,12,13,14,15,16,17,18,19,22,100]
    for i in l:
        if i**3>8000:
            continue
        print(i**3)
    break

1331
1728
2197
2744
3375
4096
4913
5832
6859

In [89]:
c=0
while True:
    a=input("enter your name")
    b=input("enter your password")
    if a=="neeraj" and b=="123" or a=="negi" and b=="1234":
        print("access")
        break
    else:
        print("try again")
        c=c+1
    if c==3:
        print("account blocked")
        break

enter your namew
enter your passwordw
try again
enter your namew
enter your passwordw
try again
enter your namew
enter your passwordw
try again
account blocked

In [ ]:
while True:
    a=input("enter your name--")
    b=input("enter your password--")
    if a=="neeraj" and b=="negi" or a=="madrid" and b=="software":
        print("ACCESS GRAUNTED")
        break
    else:
        print("try again")

In [12]:
i=1
while i<=10:
    if i==3 and i==8:
        i=i+1
        continue
    else:
        print(i**3)
        i=i+1

1
8
27
64
125
216
343
512
729
1000

In [16]:
i=1
while i<=10:
    if i==3 or i==8:
        i=i+1
        continue
    else:
        print(i**3)
        i+=1

1
8
64
125
216
343
729
1000

In [7]:
i=50
while i<50:
    print(i)
    i=i+1